<style>
  h1{ color: white; }
</style>
<h1> {{msg}}welcome to the dashboard</h1>
<h1>I CAN TELL YOU THAT BACKEND  DEVELOPMENT IS INTERESTING.</h1>
<h1>MY MERN STACK JOURNEY IS LOADING</h1>
<button><a href="/logOut">LOGOUT</a></button>