<div class="container1">
<div class="container2">
        <h2>Please Login</h2>
        <p style="color:red">{{msg}}</p>
        <form action="/login" method="post" name="login">
        <div class="form-control">
            <input type="email" name ='email'>
            <label>Email</label>
        </div>

        <div class="form-control">
            <input type="password" name="password">
            <label>password</label>
        </div>
        <!-- <div class="form-control"> -->
        <button  type ='submit' class="btn">LOGIN</button>
        <!-- </div> -->
        <p  id="des" class="text">Don't have an account,please <a href="/register">REGISTER!</a></p>
        </form>
    </div>
</div>